.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-lsn3_lushtxx);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-R-edNbzL9bA6);
  width: var(--token-R-edNbzL9bA6);
  border-radius: 99px;
  border: 1px solid var(--token-UPcO78GLZEGx);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-UPcO78GLZEGx);
  outline-offset: 1px;
}
