.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-UPcO78GLZEGx);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-jcSqLfjtrGE0);
  font-family: var(--token-qnplZpFNUaAe);
  font-size: var(--token-_fxUQQEDglNk);
  line-height: var(--token-IBstRt9oN2Q9);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-cY0i_nXsSyHo);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-Yk1Z0xZJUT31);
  outline-offset: 1px;
  outline-color: var(--token-UPcO78GLZEGx);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-JBy_Qf5IgP3Z);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-HVidolV5FLbP);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-JDd_hF3TRElT);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-CFfqttpsa_Z5);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-FaB8Qpwb33P2);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-TNRKZU3sbTyP);
  font-size: var(--token-RIUBhBskv1TJ);
  column-gap: var(--token-Yk1Z0xZJUT31);
  row-gap: 0px;
  border-radius: var(--token-jmIDIcd_BCLj);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-RIUBhBskv1TJ);
  line-height: var(--token-TNRKZU3sbTyP);
  column-gap: var(--token-jmIDIcd_BCLj);
  row-gap: 0px;
  border-radius: var(--token-jmIDIcd_BCLj);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-qsBZDZWkiO9r);
  line-height: var(--token-HpB5ZcAfCqq-);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-qsBZDZWkiO9r);
  line-height: var(--token-HpB5ZcAfCqq-);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-tj4lBQ2rODB3);
  border-radius: var(--token-cY0i_nXsSyHo);
}
.softBackgroundcolor_neutral {
  background: var(--token-t0YF1gJXIxsY);
}
.softBackgroundcolor_muted {
  background: var(--token-Hii2-lk4yJfv);
}
.softBackgroundcolor_success {
  background: var(--token-UGGvqfVm-Hd_);
}
.softBackgroundcolor_warning {
  background: var(--token-3HrTrxanH4kx);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-v-iJJyPvVRJN);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-cY0i_nXsSyHo);
  border: 0px solid var(--token-KeA_oUsjDe9w);
}
.bordercolor_neutral {
  border-color: var(--token-s9NkLEKJRrlr);
}
.bordercolor_muted {
  border-color: var(--token-PuVKPjG2X4xx);
}
.bordercolor_success {
  border-color: var(--token-LUB_8p9zZQNn);
}
.bordercolor_warning {
  border-color: var(--token-lkt_3VDRjHFX);
}
.bordercolor_errorDestructive {
  border-color: var(--token-nrqd526aLpml);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-cY0i_nXsSyHo);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-EBsbCBhzA6Dy);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-ZkYndFPeNum0);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-EIBSf6v4vk7o);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__p99Os {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-cY0i_nXsSyHo) var(--token-3heXQ6-6QeLW);
}
.freeBox__p99Os > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-cY0i_nXsSyHo));
  width: calc(100% + var(--token-cY0i_nXsSyHo));
}
.freeBox__p99Os > :global(.__wab_flex-container) > *,
.freeBox__p99Os > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p99Os > :global(.__wab_flex-container) > picture > img,
.freeBox__p99Os
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-cY0i_nXsSyHo);
}
.freeBoxsize_extraSmall__p99OsELM9 {
  padding: var(--token-jmIDIcd_BCLj) var(--token-cY0i_nXsSyHo);
}
.freeBoxsize_small__p99OsL6Khp {
  padding: var(--token-cY0i_nXsSyHo) var(--token-jcSqLfjtrGE0);
}
.freeBoxsize_large__p99Os7Pu1D {
  padding-top: var(--token-jmIDIcd_BCLj);
  padding-bottom: var(--token-jmIDIcd_BCLj);
}
.freeBoxsize_extraLarge__p99OsOepIy {
  padding-left: var(--token-Gcg4Y-ZSLXlo);
  padding-right: var(--token-Gcg4Y-ZSLXlo);
}
.freeBoxroundedFull__p99Os4T54L {
  padding-right: var(--token-Gcg4Y-ZSLXlo);
  padding-left: var(--token-Gcg4Y-ZSLXlo);
}
.freeBox__pJj0O {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__pJj0OqGaA {
  display: flex;
}
.slotTargetStart {
  color: var(--token-KHz_xrVVd_ke);
}
.slotTargetStartcolor_neutral {
  color: var(--token-TFol0VyBgbrJ);
}
.slotTargetStartcolor_muted {
  color: var(--token-Ny8eXAWJuJ1O);
}
.slotTargetStartcolor_success {
  color: var(--token-jG5FGTBCzqUl);
}
.slotTargetStartcolor_warning {
  color: var(--token-K_uqBVxjMYlb);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-iuYxhfLVii67);
}
.slotTargetStarttype_soft {
  color: var(--token-cGkqBQd6EZwr);
}
.slotTargetStarttype_bordered {
  color: var(--token-cGkqBQd6EZwr);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-RIUBhBskv1TJ);
}
.slotTargetStartsize_small {
  font-size: var(--token-RIUBhBskv1TJ);
}
.slotTargetStartsize_large {
  font-size: var(--token-qsBZDZWkiO9r);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-qsBZDZWkiO9r);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-YwkiJNz3lDX_);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-YwkiJNz3lDX_);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-b4ApeNVCBrIb);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-b4ApeNVCBrIb);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-9BxUeb56Y2kZ);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-9BxUeb56Y2kZ);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-Bvi7tawozyPp);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-Bvi7tawozyPp);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-_G_DNRSlrSPu);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-_G_DNRSlrSPu);
}
.svg__hFSrz {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-KHz_xrVVd_ke);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-TFol0VyBgbrJ);
}
.slotTargetLabelcolor_muted {
  color: var(--token-Ny8eXAWJuJ1O);
}
.slotTargetLabelcolor_success {
  color: var(--token-jG5FGTBCzqUl);
}
.slotTargetLabelcolor_warning {
  color: var(--token-K_uqBVxjMYlb);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-iuYxhfLVii67);
}
.slotTargetLabeltype_soft {
  color: var(--token-cGkqBQd6EZwr);
}
.slotTargetLabeltype_bordered {
  color: var(--token-cGkqBQd6EZwr);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-YwkiJNz3lDX_);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-b4ApeNVCBrIb);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-YwkiJNz3lDX_);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-9BxUeb56Y2kZ);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-b4ApeNVCBrIb);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-Bvi7tawozyPp);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-9BxUeb56Y2kZ);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-_G_DNRSlrSPu);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-Bvi7tawozyPp);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-_G_DNRSlrSPu);
}
.text__wVa9W {
  white-space: pre;
}
.freeBox__drMfR {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__drMfRDqofQ {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-KHz_xrVVd_ke);
}
.slotTargetEndcolor_neutral {
  color: var(--token-TFol0VyBgbrJ);
}
.slotTargetEndcolor_muted {
  color: var(--token-Ny8eXAWJuJ1O);
}
.slotTargetEndcolor_success {
  color: var(--token-jG5FGTBCzqUl);
}
.slotTargetEndcolor_warning {
  color: var(--token-K_uqBVxjMYlb);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-iuYxhfLVii67);
}
.slotTargetEndtype_soft {
  color: var(--token-cGkqBQd6EZwr);
}
.slotTargetEndtype_bordered {
  color: var(--token-cGkqBQd6EZwr);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-RIUBhBskv1TJ);
}
.slotTargetEndsize_small {
  font-size: var(--token-RIUBhBskv1TJ);
}
.slotTargetEndsize_large {
  font-size: var(--token-qsBZDZWkiO9r);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-qsBZDZWkiO9r);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-YwkiJNz3lDX_);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-YwkiJNz3lDX_);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-b4ApeNVCBrIb);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-b4ApeNVCBrIb);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-9BxUeb56Y2kZ);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-9BxUeb56Y2kZ);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-Bvi7tawozyPp);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-Bvi7tawozyPp);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-_G_DNRSlrSPu);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-_G_DNRSlrSPu);
}
.svg___3FS2D {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
