.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg___4NSa {
  position: relative;
  height: 1em;
}
.svg__h2Aqo {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-lsn3_lushtxx);
  display: block;
  color: var(--token-fYYLleocNKxx);
  font-family: var(--token-qnplZpFNUaAe);
  font-size: var(--token-_fxUQQEDglNk);
  line-height: var(--token-IBstRt9oN2Q9);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-k_v2CsIEsjTD);
}
.pcls_IKYeqY0ZvYLb {
  background: var(--token-D3jnuufw8ESG);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  overflow: hidden;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3__yo6Di {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-qsBZDZWkiO9r);
  min-width: 0;
  padding: var(--token-K5W6G7gwT4zM);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-K5W6G7gwT4zM);
  padding-right: var(--token-K5W6G7gwT4zM);
}
.freeBox___91SMy {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox___91SMy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-Gcg4Y-ZSLXlo));
  height: calc(100% + var(--token-Gcg4Y-ZSLXlo));
}
.freeBox___91SMy > :global(.__wab_flex-container) > *,
.freeBox___91SMy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___91SMy > :global(.__wab_flex-container) > picture > img,
.freeBox___91SMy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-Gcg4Y-ZSLXlo);
}
.text___5DzQm {
  position: relative;
}
.freeBox {
  display: flex;
  position: relative;
  flex-shrink: 0;
  padding: var(--token-K5W6G7gwT4zM);
}
.freeBox___8Leaf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
}
.svg__mz4P {
  position: relative;
  height: 1em;
}
.text__sgttq {
  padding-left: 0px;
}
.svg__ah6Mo {
  position: relative;
  height: 1em;
}
